fastapi>=0.110
uvicorn>=0.29
firebase-admin>=6.5
google-cloud-firestore>=2.16
python-dotenv>=1.0
python-multipart>=0.0.9
pydantic>=2.7
torch>=2.4
openai>=1.30
scipy>=1.13
numpy>=1.26
transformers>=4.41
silabeador>=1.2
librosa>=0.10.2
soundfile>=0.12.1
azure-cognitiveservices-speech>=1.37
google-generativeai>=0.7