fastapi
uvicorn
firebase-admin
google-cloud-firestore
python-dotenv
openai
python-multipart
pydantic

scipy
numpy
transformers
silabeador
librosa
soundfile
torch
git+https://github.com/huggingface/parler-tts.git@main#egg=parler-tts